<!DOCTYPE html>
{%extends 'base.html'%}
{%block title_block%} Student Dashboard{%endblock%}
{%block menu_block%}
{%include 'assets/menubar.html'%}
{%endblock%}
{%block navbar_block%}
{%include 'assets/sidebar_teacher.html'%}
{%endblock%}
{%block content_block%}


<div class="container">
  <form method="post" enctype="multipart/form-data">
    <h3>Change your profile picture here.</h3>
    {{form.as_p}}
    {%csrf_token%}
    <input type="submit" name="" value="Change Profile Picture">

  </form>

</div>



{%endblock%}
{%block footer_block%}
{%include 'assets/footer.html'%}
{%endblock%}
