<!DOCTYPE html>
{%extends 'base.html'%}
{%block title_block%} Student Dashboard{%endblock%}
{%block menu_block%}
{%include 'assets/menubar.html'%}
{%endblock%}
{%block navbar_block%}
{%include 'assets/sidebar.html'%}
{%endblock%}
{%block content_block%}






{%endblock%}
{%block footer_block%}
{%include 'assets/footer.html'%}
{%endblock%}

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>My name is {{name}} and my age is {{age}}</p>

  </body>
</html> -->
