<!DOCTYPE html>
{%extends 'base.html'%}
{%block title_block%} Student Dashboard{%endblock%}
{%block menu_block%}
{%include 'assets/menubar.html'%}
{%endblock%}
{%block navbar_block%}
{%include 'assets/sidebar_teacher.html'%}
{%endblock%}
{%block content_block%}


<div class="container">
  <h3>Please Change Password Here.</h3><br><br>
    <form method="post">
    {{form.as_p}}
    {%csrf_token%}
    <input type="submit" class="btn btn-success" value="Change Password">

  </form>

</div>



{%endblock%}
{%block footer_block%}
{%include 'assets/footer.html'%}
{%endblock%}
